@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Home: Add you Cars</h1>
    <p class="lead">Add your cars!, You can have the control about all of them</p>
    <p>@Html.ActionLink("Add a Car", "newCar", "Car",null,new { @class="btn btn-primary btn-lg"})</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Model1</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Model1</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Model1</h2>
        <p></p>
    </div>
</div>
